.btn
  border-radius: 3px
  border: none
  color: #fff
  display: block
  font-size: 18px
  line-height: 55px
  transition: all 0.3s ease-in-out
  &:hover
    box-shadow: 0px 0px 22.5px 7.5px rgba(216, 225, 229, 0.3)

.btn-primary
  background: $color-primary
  text-align: center
  width: 140px

.btn-secondary
  background: $color-secondary
  padding-left: 28px
  text-align: left
  width: 250px