.btn-link
  transition: all 0.3s ease-in-out
  color $color-title
  font-family: 'brandon_grotesquemedium'
  font-size: 22px
  cursor pointer
  &:hover
    color $color-primary
    text-decoration: none