.cover-page
  display: flex
  position: relative

  padding: 318px 0 180px

  &__wrapper
    width: 50%
  &__title
    font-family: 'brandon_grotesquebold'
    font-size: 70px
    line-height: 75px
  &__paragraph
    font-size: 22px
    line-height: 37px
    padding: 35px 0 50px
  &__buttons
    display: flex
    align-items: center
    & > *:nth-child(2n)
      margin-left 20px
  &__aside
    position: absolute
    top: 25%
    right: 10%
    z-index: -1