.footer
  &__wrapper
    border-bottom: 1px solid #f1f1f1
    display: flex
    padding: 95px 0 60px
  &__logo
    flex: 0 0 33.333333%
    max-width: 33.333333%
  &__email
    font-size: 22px
    color: #222222
    display: block
    margin: 12px 0 15px

  &__list
    width: 100%
    &__title
      font-family: 'brandon_grotesquemedium'
      font-size: 24px
      font-weight: 400
      padding-bottom: 28px
    &__link
      color: rgba(33,33,33,0.7)
      display: block
      font-size: 17px
      line-height: 36px
      &:hover
        color: $color-primary
        text-decoration: none

  &__copyright
    padding: 45px 0

    &__paragraph
      font-size: 17px
      line-height: 34px