.header
  background: #fff
  left: 0
  padding-top: 75px
  position: fixed
  right: 0
  top: 0
  transition: all 0.3s ease-in-out
  z-index: 99
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &__nav
    display: flex
    align-items: center
  &__link
    font-family: 'brandon_grotesque_regularRg'
    position: relative
    padding: 7px 0 0
    display: block
    font-size: 20px
    margin: 0 22px
    color: #929eb3
    transition: all .3s linear
    &:hover
      text-decoration: none
      color: $color-primary