//  Variables
//  ==========================================================================


//  Typography
//  --------------------------------------------------------------------------

$font-family = 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$font-size   = 16px
$line-height = '1.6'


//  Colors
//  --------------------------------------------------------------------------

// colour of text and main colour overall
$color-primary   = #01daba
// colour of any components, backgrounds, etc.
$color-secondary = #fec25e
// special colour to complement secondary colour
$color-tertiary  = #e5c4d2

$color-title    = #283249
$color-text     = rgba(48,61,83,0.7)


$link-color = $color-primary
$link-color-hover = $color-secondary

$button-border = '1px solid ' + $color-primary
$button-border-radius = 10px