extends layouts/_layout

block content

  include objects/_header

  .container
    include objects/_cover-page

  .container
    include objects/_features

  .container
    include objects/_steps
  
  .container
    include objects/_footer