@import url('../fonts/custom-font/bg-b/stylesheet.css');
@import url('../fonts/custom-font/bg-md/stylesheet.css');
@import url('../fonts/custom-font/bg-l/stylesheet.css');
@import url('../fonts/custom-font/bg-reg/stylesheet.css');

@import url('../fonts/custom-font/lovelo/stylesheet.css');
@import url('../fonts/custom-font/pn-reg/stylesheet.css');