.cover-page
  .cover-page__wrapper
    .cover-page__text-wrapper
      h1.cover-page__title
        |Cripto popular <br>La revolución <br>ha comenzado.
      
      p.cover-page__paragraph
        |Un revolucionario sistema de monedas digitales para dinero futuro.

    .cover-page__buttons
      button.btn.btn-primary Explorar
      button.btn.btn-secondary Descargar
  
  .cover-page__aside
    img(src="img/k.png", alt="cover page image")