.cover-page
  .cover-page__wrapper
    .cover-page__text-wrapper
      h1.cover-page__title
        |Populer Crypto <br>Revolution is begin <br>from here.
      
      p.cover-page__paragraph
        |A revolutionary digital coin system for future money.

    .cover-page__buttons
      button.btn.btn-primary Explore
      button.btn.btn-secondary Download
  
  .cover-page__aside
    img(src="img/k.png", alt="cover page image")