.features
  h2.features__title
    |The Largest &amp; Best <span>Digital Currency</span>
    <br>for Your Future money

  ul.features__content
    li.features_item
      figure.features__image-box
        img.features__image(src='img/feature.png' alt='caracteristica')
      h3.features__item__title
        |cryto Is Untraceable
      p.features__item__paragraph
        |Sending and receiving addresses as well as transacted amounts.

    li.features_item
      figure.features__image-box
        img.features__image(src='img/feature.png' alt='caracteristica')
      h3.features__item__title
        |cryto Is Untraceable
      p.features__item__paragraph
        |Sending and receiving addresses as well as transacted amounts.

    li.features_item
      figure.features__image-box
        img.features__image(src='img/feature.png' alt='caracteristica')
      h3.features__item__title
        |cryto Is Untraceable
      p.features__item__paragraph
        |Sending and receiving addresses as well as transacted amounts.