.features
  h2.features__title
    |La mejor &amp; más grande <span>Moneda Digital</span>
    <br>por su valor a futuro

  ul.features__content
    li.features__item
      figure.features__image-box
        img.features__image(src='img/feature1.png' alt='caracteristica')
      h3.features__item__title
        |Imposibles de rastrear
      p.features__item__paragraph
        |Direcciones de envío y recepción, así como importes negociados.

    li.features__item
      figure.features__image-box
        img.features__image(src='img/feature2.png' alt='caracteristica')
      h3.features__item__title
        |Autonomía de autogobierno.
      p.features__item__paragraph
        |En cripto, la transparencia trae confianza y una fuerte transparencia antigua.

    li.features__item
      figure.features__image-box
        img.features__image(src='img/feature3.png' alt='caracteristica')
      h3.features__item__title
        |Transparencia y estabilidad
      p.features__item__paragraph
        |Sending and receiving addresses as well as transacted amounts.