.footer
  .footer__wrapper
    .footer__logo
      a(href="/")
        img(src="img/logo.png", alt="logo")
      a.footer__email(href="/") crytoco@company.com
    .footer__list
      h4.footer__list__title
        |Quick Links
      ul
        li
          a.footer__list__link(href="/") How it Works
        li
          a.footer__list__link(href="/") How it Works
        li
          a.footer__list__link(href="/") How it Works
        li
          a.footer__list__link(href="/") How it Works
    .footer__list
      h4.footer__list__title
        |About Us
      ul
        li
          a.footer__list__link(href="/") Jobs
        li
          a.footer__list__link(href="/") Team
        li
          a.footer__list__link(href="/") Testimonials
        li
          a.footer__list__link(href="/") Blog
    .footer__list
      h4.footer__list__title
        |Become A Member
      ul
        li
          a.footer__list__link(href="/") Contributor
        li
          a.footer__list__link(href="/") Union Member
        li
          a.footer__list__link(href="/") How it Works
        li
          a.footer__list__link(href="/") How it Works

  .footer__copyright
    p.footer__copyright__paragraph
      |© 2018 <a href="#">cryto</a> All Right Reserved