.footer
  .footer__wrapper
    .footer__logo
      a(href="/")
        img(src="img/logo.png", alt="logo")
      a.footer__email(href="/") crytoco@company.com
    .footer__list
      h4.footer__list__title
        |Acceso rapido
      ul
        li
          a.footer__list__link(href="/") Cómo funciona
        li
          a.footer__list__link(href="/") Garantía
        li
          a.footer__list__link(href="/") Seguridad
        li
          a.footer__list__link(href="/") Precios
    .footer__list
      h4.footer__list__title
        |Acerca de
      ul
        li
          a.footer__list__link(href="/") Trabajos
        li
          a.footer__list__link(href="/") Equipo
        li
          a.footer__list__link(href="/") Testimonios
        li
          a.footer__list__link(href="/") Blog
    .footer__list
      h4.footer__list__title
        |Conviértete en miembro
      ul
        li
          a.footer__list__link(href="/") Contribuidor
        li
          a.footer__list__link(href="/") Miembro de la Unión
        li
          a.footer__list__link(href="/") Procesamiento
        li
          a.footer__list__link(href="/") Acción legal

  .footer__copyright
    p.footer__copyright__paragraph
      |© 2018 <a href="#">cryto</a> All Right Reserved