include _header-var

header.header
  .header__wrapper.container
    a.header__logo(href="/")
      img.header__pic(src="img/logo.png" alt="logotype")
    nav.header__nav
      each val in links
        a.header__link(href=val.href) #{val.text}