.steps
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 01
        h2.steps__title
          |<span>Decentralized</span> Minning Our core focus.
        p.steps__paragraph
          |Mining should be fair &amp; easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.
        a.btn-link Learn More <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")
  
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 02
        h2.steps__title
          |<span>Decentralized</span> Minning Our core focus.
        p.steps__paragraph
          |Mining should be fair &amp; easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.
        a.btn-link Learn More <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")
  
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 03
        h2.steps__title
          |<span>Decentralized</span> Minning Our core focus.
        p.steps__paragraph
          |Mining should be fair &amp; easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.
        a.btn-link Learn More <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")