.steps
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 01
        h2.steps__title
          |<span>Minería descentralizada</span> Nuestro enfoque principal.
          
        p.steps__paragraph
          |¡La minería debería ser justa y fácil! No permitimos ASIC en nuestra red. El equipo de desarrollo está totalmente comprometido con mantenerlo así.
        a.btn-link Leer más <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")
  
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 02
        h2.steps__title
          |Dinero <span>popular</span> y billetera inteligente.
        p.steps__paragraph
          |¡La minería debería ser justa y fácil! No permitimos ASIC en nuestra red. El equipo de desarrollo está totalmente comprometido con mantenerlo así.
        a.btn-link Leer más <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")
  
  .steps__item
    .steps__item__content
      .steps__item__text
        .steps__item__number 03
        h2.steps__title
          |Mantener la <span>confidencialidad</span> y la seguridad sólida.
        p.steps__paragraph
          |¡La minería debería ser justa y fácil! No permitimos ASIC en nuestra red. El equipo de desarrollo está totalmente comprometido con mantenerlo así.
        a.btn-link Leer más <i class="flaticon-right-thin"></i>
    .steps__item__image
      figure.steps__item__figure
        img(src="img/step1.png", alt="Step 1")